<div class="row">
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="최근 일주일 데이터를 사용하며, 지난주 같은날 대비 오늘의 사용량을 %로 표시합니다.">
            <em class="mdi mdi-information-outline text-muted"></em> 시간
          </span>
          <code class="dottedUnderline small_text text-gray">{{ model.sums.times | secondToFormat }}</code>
        </div>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.times">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 데이터
          </span>
          <code class="dottedUnderline small_text text-gray">{{ model.sums.traffic | dataSizeToUnit }}</code>
        </div>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.traffic">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 접속
          </span>
          <code class="dottedUnderline small_text text-gray">{{ model.sums.count | num_comma}}회</code>
        </div>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.count">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 추적금지
          </span>
          <code class="dottedUnderline small_text text-gray">{{ model.sums.blacklist | num_comma}}회</code>
        </div>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.blacklist">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 일별 사용량
          </span>
          <code class="dottedUnderline small_text text-gray">{{ model.sums.times | secondToFormat }}</code>
        </div>
      </div>
      <div class="mt-auto">
        <mw-chart style="width:100%;height:360px;top:0px;bottom:0px;left:0px;" ng-model="model.charts.by_category">
        </mw-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 사용성
          </span>
        </div>
      </div>
      <div class="mt-auto">
        <br />
        <br />
        <mw-chart style="width:100%;height:280px;top:0px;bottom:0px;left:0px;" ng-model="model.charts.radar">
        </mw-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 카테고리별 통계
          </span>
        </div>
      </div>
      <div class="grid table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr class="solid-header">
              <th>카테고리</th>
              <th>사용</th>
              <th>접속</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in model.top_rank.category">
              <td>

                <span class="mb-n1 font-weight-medium">
                  <span style="background-color: {{row.categroy_code | category_code_to_color }}"
                    class="status-indicator rounded-indicator small"></span>{{row.categroy_code |
                  category_code_to_name}}</span>
                <!-- <p class="mb-n1 font-weight-medium">{{ row.categroy_code | category_code_to_name }}</p> -->
                <code class="small_text text-gray">사이트:{{ row.urls | num_comma }}개</code>
              </td>
              <td class="font-weight-medium text-center">
                {{ row.summary | secondToFormat }}
                <!-- <div>
                  <code class="small_text text-danger">15.47%<em class="mdi mdi-arrow-up"></em></code>
                </div> -->
              </td>
              <td class="font-weight-medium text-center">
                {{ row.count | num_comma }}회
                <!-- <div>
                  <code class="small_text text-info">15.47%<em class="mdi mdi-arrow-down"></em></code>
                </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>더 많은 데이터 보기</small>
      </a>
    </div>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-12 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 도메인별 사용성
          </span>
          <!-- <code class="text-danger">집계기간:1월1일 ~ 1월30일</code> -->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr class="solid-header">
              <th width="80">URL</th>
              <th>
                <div>
                  <span class="badge badge-pill badge-primary">접속</span>
                  <span class="badge badge-pill badge-success">사용시간</span>
                  <span class="badge badge-pill badge-danger">데이터</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in model.usability">
              <td>
                <small class="text-black font-weight-medium d-block">{{row.url}}</small>
                <span class="text-gray">
                  <span style="background-color: {{row.categroy_code | category_code_to_color }}"
                    class="status-indicator rounded-indicator small"></span>{{row.categroy_code |
                  category_code_to_name}}</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: {{ row.rate[0] }}%"
                    aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                    <div class="text-center" ng-if="row.rate[0] > 10">{{ row.rate[0] }}%</div>
                  </div>
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ row.rate[1] }}%"
                    aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                    <div class="text-center" ng-if="row.rate[1] > 10">{{ row.rate[1] }}%</div>
                  </div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{ row.rate[2] }}%"
                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                    <div class="text-center" ng-if="row.rate[2] > 10">{{ row.rate[2] }}%</div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>더 많은 데이터 보기</small>
      </a>
    </div>
  </div>
  <div class="col-lg-7 col-md-12 equel-grid">


    <div class="grid">
      <div class="grid-body py-3">

        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 24시간 누적 사용 대역
          </span>
          <!-- <code class="text-danger">집계기간:1월1일 ~ 1월30일</code> -->
        </div>
      </div>
      <div class="mt-auto">
        <mw-chart style="width:100%;height:350px;top:0px;bottom:0px;left:0px;" ng-model="model.charts.scatter">
        </mw-chart>
      </div>
    </div>
  </div>
  <div class="col-md-8 equel-grid">
    <div class="grid">
      <!-- <div class="grid-body py-3">
        <p class="card-title ml-n1">주간 누적 사용량 TOP 5</p>
      </div> -->
      <div class="grid-body py-3">
        <div class="d-flex justify-content-between">
          <span data-toggle="tooltip" data-placement="left" title="">
            <em class="mdi mdi-information-outline text-muted"></em> 도메인별 통계
          </span>
          <!-- <code class="text-danger">집계기간:1월1일 ~ 1월30일</code> -->
        </div>
      </div>
      <div class="table-responsive">
        <!-- {{ $scope.model.cumulative_sum }} -->
        <table class="table table-hover table-sm">
          <thead>
            <tr class="solid-header">
              <th>URL</th>
              <th>시간</th>
              <th>접속</th>
              <th>데이터</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in model.cumulative_usage">
              <td>
                <small class="text-black font-weight-medium d-block">{{ row.url }}</small>
                <span class="text-gray">
                  <span style="background-color: {{row.categroy_code | category_code_to_color }}"
                    class="status-indicator rounded-indicator small"></span>{{row.categroy_code | category_code_to_name
                  }}</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-striped" role="progressbar"
                    style="width: {{ (row.summary/model.cumulative_sum.summary)*100 }}%" aria-valuemin="0"
                    aria-valuemax="100">{{ row.summary | secondToFormat }}</div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                    style="width: {{ (row.count/model.cumulative_sum.count)*100 }}%" aria-valuemin="0"
                    aria-valuemax="100">{{ row.count | num_comma }}회</div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                    style="width: {{ (row.dataUsage/model.cumulative_sum.dataUsage)*100 }}%" aria-valuemin="0"
                    aria-valuemax="100">{{ row.dataUsage | dataSizeToUnit }}</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>더 많은 데이터 보기</small>
      </a>
    </div>
  </div>
  <div class="col-md-4 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <div class="split-header">
          <p class="card-title">활동로그</p>
          <div class="btn-group">
            <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi mdi-dots-vertical"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Expand View</a>
              <a class="dropdown-item" href="#">Edit</a>
            </div>
          </div>
        </div>
        <div class="vertical-timeline-wrapper">
          <div class="timeline-vertical dashboard-timeline">
            <div class="activity-log">
              <p class="log-name">업데이트</p>
              <div class="log-details">업데이트<span class="text-primary ml-1">#Slack</span>
                <div class="wrapper mt-2">
                  <button type="button" class="btn btn-xs btn-primary">업데이트</button>
                  <button type="button" class="btn btn-xs btn-inverse-primary">취소</button>
                </div>
              </div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">브라우저</p>
              <div class="log-details">브라우저가 실행되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">설정</p>
              <div class="log-details">설정 정보가 변경되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">설정</p>
              <div class="log-details">설정 정보가 변경되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">제한</p>
              <div class="log-details">추적 금지 설정 정보가 변경되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
          </div>
        </div>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i> 전체 보기</small>
      </a>
    </div>
  </div>
</div>