<div class="row">
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body text-gray">
        <div class="d-flex justify-content-between">
          <p>30%</p>
          <p>+06.2%</p>
        </div>
        <p class="text-black">사용시간</p>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.times">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body text-gray">
        <div class="d-flex justify-content-between">
          <p>30%</p>
          <p>+06.2%</p>
        </div>
        <p class="text-black">사용 데이터</p>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.traffic">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body text-gray">
        <div class="d-flex justify-content-between">
          <p>23%</p>
          <p>+02.7%</p>
        </div>
        <p class="text-black">접속횟수</p>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.count">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-6 equel-grid">
    <div class="grid">
      <div class="grid-body text-gray">
        <div class="d-flex justify-content-between">
          <p>75%</p>
          <p>- 53.34%</p>
        </div>
        <p class="text-black">추적 금지 접속횟수</p>
        <div class="wrapper">
          <mw-chart style="width:100%;height:80%;top:0px;bottom:0px;left:0px;" ng-model="model.charts.limit">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 equel-grid">
    <div class="grid">
      <div class="grid-body d-flex flex-column h-100">
        <div class="wrapper">
          <div class="d-flex justify-content-between">
            <div class="split-header">
              <p class="card-title">월간 인터넷 사용시간</p>
            </div>
            <div class="wrapper">
              <button class="btn action-btn btn-xs component-flat pr-0" type="button"><i
                  class="mdi mdi-access-point text-muted mdi-2x"></i></button>
              <button class="btn action-btn btn-xs component-flat pr-0" type="button"><i
                  class="mdi mdi-cloud-download-outline text-muted mdi-2x"></i></button>
            </div>
          </div>
        </div>
        <div class="mt-auto">
          <mw-chart style="width:100%;height:320px;top:0px;bottom:0px;left:0px;" ng-model="model.charts.monthly">
          </mw-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <p class="card-title">주간 카테고리 TOP 5</p>
        <div id="radial-chart"></div>
        <div class="grid table-responsive">
          <table class="table table-stretched">
            <thead>
              <tr>
                <th>카테고리</th>
                <th>시간</th>
                <th>데이터</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">라이프스타일</p>
                  <code class="text-gray">프로그래밍</code>
                </td>
                <td class="font-weight-medium text-center">
                  1시간25분
                  <div>
                    <code class="text-danger">15.47%<em class="mdi mdi-arrow-up"></em></code>
                  </div>
                </td>
                <td class="font-weight-medium text-center">
                  32.7MB
                  <div>
                    <code class="text-info">15.47%<em class="mdi mdi-arrow-down"></em></code>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">생산성</p>
                  <small class="text-gray">참고 문헌</small>
                </td>
                <td class="font-weight-medium">03.95</td>
                <td class="text-danger font-weight-medium">
                  <div class="badge badge-danger">-1.17%</div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">youtube</p>
                  <small class="text-gray">온라인 스트리밍</small>
                </td>
                <td class="font-weight-medium">11,278</td>
                <td class="text-danger font-weight-medium">
                  <div class="badge badge-success">-0.24%</div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">BA</p>
                  <small class="text-gray">The /small>
                </td>
                <td class="font-weight-medium">354.67</td>
                <td class="text-success font-weight-medium">
                  <div class="badge badge-success">+0.15%</div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">SBUX</p>
                  <small class="text-gray">Starbucks</small>
                </td>
                <td class="font-weight-medium">08.42</td>
                <td class="text-success font-weight-medium">
                  <div class="badge badge-success">+0.67%</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  <div class="col-lg-4 col-md-6 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <p class="card-title">주간 TOP 5</p>
        <div id="radial-chart"></div>
        <div class="grid table-responsive">
          <table class="table table-stretched">
            <thead>
              <tr>
                <th>URL</th>
                <th>시간</th>
                <th>데이터</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">google.com</p>
                  <small class="text-gray">IT/라이프스타일</small>
                </td>
                <td class="font-weight-medium text-center">
                  1시간25분
                  <div>
                    <code class="text-danger">15.47%<em class="mdi mdi-arrow-up"></em></code>
                  </div>
                </td>
                <td class="font-weight-medium text-center">
                  32.7MB
                  <div>
                    <code class="text-info">15.47%<em class="mdi mdi-arrow-down"></em></code>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">clien.net</p>
                  <small class="text-gray">쇼셜 커뮤니티</small>
                </td>
                <td class="font-weight-medium">03.95</td>
                <td class="text-danger font-weight-medium">
                  <div class="badge badge-danger">-1.17%</div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">youtube</p>
                  <small class="text-gray">온라인 스트리밍</small>
                </td>
                <td class="font-weight-medium">11,278</td>
                <td class="text-danger font-weight-medium">
                  <div class="badge badge-success">-0.24%</div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">BA</p>
                  <small class="text-gray">The /small>
                </td>
                <td class="font-weight-medium">354.67</td>
                <td class="text-success font-weight-medium">
                  <div class="badge badge-success">+0.15%</div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-n1 font-weight-medium">SBUX</p>
                  <small class="text-gray">Starbucks</small>
                </td>
                <td class="font-weight-medium">08.42</td>
                <td class="text-success font-weight-medium">
                  <div class="badge badge-success">+0.67%</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  <div class="col-lg-5 col-md-6 col-sm-12 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <p class="card-title ml-n1">도메인별 사용성 비율</p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr class="solid-header">
              <th width="80">URL</th>
              <th>
                <div>
                  <span class="badge badge-pill badge-primary">접속횟수</span>
                  <span class="badge badge-pill badge-success">사용시간</span>
                  <span class="badge badge-pill badge-danger">데이터수신량</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <small class="text-black font-weight-medium d-block">YouTube.com</small>
                <small class="text-gray">온라인스트리밍</small>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="35"
                    aria-valuemin="0" aria-valuemax="100">35%</div>
                  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45"
                    aria-valuemin="0" aria-valuemax="100">45%</div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100">20%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-black font-weight-medium d-block">YouTube.com</small>
                <span class="text-gray">
                  <span class="status-indicator rounded-indicator small bg-primary"></span>온라인스트리밍</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="35"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-black font-weight-medium d-block">YouTube.com</small>
                <span class="text-gray">
                  <span class="status-indicator rounded-indicator small bg-primary"></span>온라인스트리밍</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="35"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-black font-weight-medium d-block">YouTube.com</small>
                <span class="text-gray">
                  <span class="status-indicator rounded-indicator small bg-primary"></span>온라인스트리밍</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="35"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All Order History</small>
      </a>
    </div>
  </div>
  <div class="col-lg-7 col-md-12 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <p class="card-title ml-n1">주간 시간대별 누적 사용시간</p>
      </div>
      <div class="mt-auto">

        <mw-chart style="width:100%;height:300px;top:0px;bottom:0px;left:0px;" ng-model="model.charts.scatter">
        </mw-chart>
      </div>
    </div>
  </div>
  <div class="col-md-8 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <p class="card-title ml-n1">주간 누적 사용량</p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr class="solid-header">
              <th>URL</th>
              <th>사용시간</th>
              <th>접속횟수</th>
              <th>데이터사용량</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <small class="text-black font-weight-medium d-block">YouTube.com</small>
                <span class="text-gray">
                  <span class="status-indicator rounded-indicator small bg-primary"></span>온라인스트리밍</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: 5%"
                    aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">2시간 35분 12초</div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 45%"
                    aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">1,324회</div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 20%"
                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">435MB</div>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <small class="text-black font-weight-medium d-block">YouTube.com</small>
                <span class="text-gray">
                  <span class="status-indicator rounded-indicator small bg-primary"></span>온라인스트리밍</span>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: 25%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2시간 35분 12초</div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 15%"
                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">1,324회</div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 80%"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">435MB</div>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All Order History</small>
      </a>
    </div>
  </div>
  <div class="col-md-4 equel-grid">
    <div class="grid">
      <div class="grid-body">
        <div class="split-header">
          <p class="card-title">활동로그</p>
          <div class="btn-group">
            <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi mdi-dots-vertical"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Expand View</a>
              <a class="dropdown-item" href="#">Edit</a>
            </div>
          </div>
        </div>
        <div class="vertical-timeline-wrapper">
          <div class="timeline-vertical dashboard-timeline">
            <div class="activity-log">
              <p class="log-name">업데이트</p>
              <div class="log-details">WST 확장기능 v1.05 업데이트<span class="text-primary ml-1">#Slack</span>
                <div class="wrapper mt-2">
                  <button type="button" class="btn btn-xs btn-primary">Approve</button>
                  <button type="button" class="btn btn-xs btn-inverse-primary">Reject</button>
                </div>
              </div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">브라우저</p>
              <div class="log-details">브라우저가 실행되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">설정</p>
              <div class="log-details">설정 정보가 변경되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">설정</p>
              <div class="log-details">설정 정보가 변경되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
            <div class="activity-log">
              <p class="log-name">제한</p>
              <div class="log-details">추적 금지 설정 정보가 변경되었습니다.</div>
              <small class="log-time">8 mins Ago</small>
            </div>
          </div>
        </div>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i> View All </small>
      </a>
    </div>
  </div>
</div>