<h2>설정</h2>
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">설정</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label>아이콘 표시정보</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    <select class="custom-select"
                                        ng-change="run.selected('activity_detected',model.select.activity_detected)"
                                        ng-model='model.select.activity_detected'
                                        ng-options="item.id as item.name for item in model.options.activity_detected"></select>
                                    <code>* 확장 기능의 아이콘 아래 표시되는 정보</code>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">추적 금지 도메인</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <form>
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>도메인</th>
                                            <th>등록일</th>
                                            <th>적용</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in model.domains">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ row.domain }}</td>
                                            <td>{{ row.created | yyyymmdd_to_format_kr }}</td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="switch{{ $index }}" ng-change="run.enabledChange(row)"
                                                        ng-model="row.enabled" ng-checked="{{ row.enabled }}">
                                                    <label class="custom-control-label"
                                                        for="switch{{ $index }}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" ng-click="run.remove(row)"
                                                    class="btn btn-danger btn-xs">삭제</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <p>
                            <hr>
                        </p>
                        <div class="mx-auto form-group row showcase_row_area">

                            <div class="col-md-10 showcase_content_area">

                                <input class="form-control" ng-model="model.domain" maxlength="100" name="defaultconfig"
                                    id="defaultconfig" type="text" placeholder="도메인을 입력해주세요. (예. naver.com)">
                            </div>

                            <button class="btn btn-primary btn-sm" ng-click="run.add_domain()" type="submit">도메인
                                등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">로컬 저장소 초기화</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <button class="col-md-12 btn btn-danger" type="submit">
                        현재 424일 동안, 5.6MB 로컬 데이터가 저장되어있습니다. <br>버튼을 누르면 모든 데이터가 삭제되며 이후 새롭게 데이터가 생성됩니다!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>