<div class="content-viewport">
    <div class="email-wrapper grid">
      <div class="email-aside-list">
        <!-- $scope.model -->
        <div class="email-list-item" ng-repeat="row in model.rows">
          <a href ng-click='run.view(row)' class="email-list-item-inner">
            <img class="profile-img" src="../../../assets/images/profile/male/image_1.png" alt="profile image">
            <div class="date">4일전</div>
            <p class="user_name">{{ run.format(row) }}</p>
            <p class="mail-text">2021년 1월 9일 ~ 1월 12일</p>
          </a>
        </div>
      </div>
      <div class="email-preview-wrapper">
        <div class="preview-header">
          <img class="profile-img" src="../../../assets/images/profile/male/image_1.png" alt="profile image">
          <p class="user_name">Mike Cohen</p>
          <a class="user-email" href="mailto:mikecohen@gmail.com">mikecohen@gmail.com</a>
          <p class="date">23/5/2018</p>
        </div>
        <div class="email-container">
          <div class="email-content">
            <p>
              <b>2020년 1월 1주 통계</b>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio expedita ea fugit provident aliquid natus eveniet nemo nobis nihil exercitationem accusamus dolores id, corrupti quaerat, sapiente alias ipsum. Autem vel nulla harum error, dolore nemo quis quod? Alias, eaque repudiandae officia error consectetur tenetur pariatur, nemo numquam non modi tempore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsum neque quidem quam architecto quas dolorum commodi nemo minus nihil.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur soluta accusamus consequatur voluptas temporibus placeat animi ipsum asperiores quas rerum nam amet est vero perspiciatis, facere similique, quis odit porro dignissimos sequi tempore ipsa doloribus. Obcaecati fuga accusamus nam magni.</p>
          </div>
        </div>
      </div>
    </div>
  </div>