<div class="col-lg-12">
    <div class="grid">
        <p class="grid-header">동기화 설정</p>
        <div class="grid-body">
            <div class="item-wrapper">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>출발</th>
                            <th>도착</th>
                            <th>실행횟수</th>
                            <th>마지막 실행시간</th>
                            <th>반복 시간</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in model.rows">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ row.from }}</td>
                            <td>{{ row.to }}</td>
                            <td>{{ row.count }}</td>
                            <td>{{ row.last }}</td>
                            <td>{{ row.repeat_min }}</td>
                            <td>{{ row.created | yyyymmdd_to_format_kr }}</td>
                            <td>
                                <button ng-if="row.direction != 'similarweb_to_cloud' && row.sync_enabled" type="button"
                                    ng-click="run.sync(row)" class="btn btn-danger btn-xs">실행</button>

                                <button ng-if="row.direction == 'similarweb_to_cloud' && row.sync_enabled" type="button"
                                    ng-click="run.sync(row)" class="btn btn-danger btn-xs">{{
                                    model.similarweb.length }}개 업로드</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="demo-wrapper">
                    <div class="btn btn-primary has-icon pointer" ng-click="run.open_tab()">
                        <i class="mdi mdi-cloud-download"></i>Queue에서 목록 조회
                    </div>
                    <div class="btn btn-primary has-icon pointer" ng-click="run.get_report()">
                        <i class="mdi mdi-cloud-download"></i>열린 Tab에서 데이터 수집후 창닫기
                    </div>
                    <div class="btn btn-primary has-icon pointer" ng-click="run.reload_tabs()">
                        <i class="mdi mdi-cloud-download"></i>Tab Reload
                    </div>
                    <div class="btn btn-primary has-icon pointer" ng-click="run.set_report()">
                        <i class="mdi mdi-cloud-download"></i>{{ model.similarweb1.length }}개 데이터 저장
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">동기화 기록</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <div class="form-row">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="10">#</th>
                                        <th>날짜</th>
                                        <th>종류</th>
                                        <th>상태</th>
                                        <th>메세지</th>
                                        <th>용량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in model.history">
                                        {{row}}
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ row.epoch | epochTimeToFormat}}</td>
                                        <td>{{ row.type }}</td>
                                        <td>{{ row.is_error }}</td>
                                        <td>{{ row.message }}</td>
                                        <td>{{ row.size | dataSizeToUnit }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>