<h2>제한</h2>
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">도메인 접근 제한 목록 (todo 최대 10개?)</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <form>
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>도메인</th>
                                            <th>등록일</th>
                                            <th>허용시간</th>
                                            <th>접속횟수</th>
                                            <th>적용</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in model.domains">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ row.domain }}</td>
                                            <td>{{ row.created | yyyymmdd_to_format_kr }}</td>
                                            <td>{{ row.time_start }} ~ {{ row.time_end }}</td>
                                            <td>{{ row.count | num_comma }}회</td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="switch{{ $index }}" ng-change="run.enabledChange(row)"
                                                        ng-model="row.enabled" ng-checked="{{ row.enabled }}">
                                                    <label class="custom-control-label"
                                                        for="switch{{ $index }}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" data-toggle="modal" data-target="#domainModal"
                                                    ng-click="run.open_modal(row)" class="btn btn-xs">수정</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p>
                            <hr>
                        </p>
                        <div class="mx-auto form-group row showcase_row_area">
                            <div class="btn btn-primary has-icon pointer" ng-click="run.open_modal()" data-toggle="modal"
                                data-target="#domainModal">
                                <i class="mdi mdi-database-plus"></i>도메인 추가하기
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">허용시간외 접속 기록 최근 100건</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <form>
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>도메인</th>
                                            <th>접속일자</th>
                                            <th>접속횟수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>google.com</td>
                                            <td>2021년 5월 16일</td>
                                            <td>1,321회</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p>
                            <hr>
                        </p>
                        <div class="mx-auto form-group row showcase_row_area">
                            <div class="btn btn-primary has-icon">
                                <i class="mdi mdi-file-excel"></i>Excel 다운로드
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="domainModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header bg-primary">
                    <h3 class="modal-title text-white">{{ model.title }}</h3>
                    <button type="button" class="close text-white" ng-click="run.modalClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail4">도메인</label>
                        <input type="text" ng-if="model.is_new" ng-model="model.modal.domain" class="form-control"
                            placeholder="도메인을 입력해주세요. (예. naver.com)" maxlength="30">
                        <input type="text" ng-if="!model.is_new" ng-model="model.copy_modal.domain" class="form-control"
                            placeholder="도메인을 입력해주세요. (예. naver.com)" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">허용시간 (시작시간 ~ 종료시간)</label>

                        <div ng-if="model.is_new" class="d-flex justify-content-between">
                            <div class="col-md-6 input-group clockpicker" clock-picker twelvehour="true"
                                data-autoclose="true">
                                <input ng-model="model.modal.time_start" type="text"
                                    class="form-control" readonly >
                                <span class="input-group-append">
                                    <div class="input-group-text"><em class="mdi mdi-clock-start"></em></div>
                                </span>
                            </div>
                            <p>~</p>
                            <div class="col-md-6 input-group clockpicker" clock-picker twelvehour="true"
                                data-autoclose="true">
                                <input ng-model="model.modal.time_end" type="text"
                                    class="form-control" readonly >
                                <span class="input-group-append">
                                    <div class="input-group-text"><em class="mdi mdi-clock-end"></em></div>
                                </span>
                            </div>
                        </div>

                        <div ng-if="!model.is_new" class="d-flex justify-content-between">
                            <div class="col-md-6 input-group clockpicker" clock-picker twelvehour="true" data-autoclose="true">
                                <input ng-model="model.copy_modal.time_start" type="text" class="form-control" readonly >
                                <span class="input-group-append">
                                    <div class="input-group-text"><em class="mdi mdi-clock-start"></em></div>
                                </span>
                            </div>
                            <p>~</p>
                            <div class="col-md-6 input-group clockpicker" clock-picker twelvehour="true" data-autoclose="true">
                                <input ng-model="model.copy_modal.time_end" type="text" class="form-control" readonly >
                                <span class="input-group-append">
                                    <div class="input-group-text"><em class="mdi mdi-clock-end"></em></div>
                                </span>
                            </div>
                        </div>
                        <code>* 시작 시간은 종료 시간보다 이전 시간으로 설정해야 합니다.</code>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-if="model.is_new" ng-click="run.add_domain()"
                        class="btn btn-primary btn-sm">저장</button>
                    <button type="submit" ng-if="!model.is_new" ng-click="run.update_domain()"
                        class="btn btn-primary btn-sm">수정</button>
                    <button type="submit" ng-if="!model.is_new" ng-click="run.remove_domain()"
                        class="btn btn-danger  btn-sm">삭제</button>
                    <button type="submit" ng-click="run.modalClose()" class="btn btn-primary btn-sm">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>