
<div class="row">
    <!-- <mw-chart style="width: 40%;height:400px;left: 30px;;" ng-model="option">
    </mw-chart>
    <button ng-click="change()">切换</button> -->
    <!-- <div class="col-lg-12"> -->
        <!-- <div class="grid"> -->
            <calendar-heatmap data="example_data" color="color" overview="overview" tooltip="tooltip" over="over"
                handler="print"></calendar-heatmap>
        <!-- </div> -->
    <!-- </div> -->
    <div class="col-lg-12">
        <button class="col-md-2 btn btn-danger" ng-click="today()" type="submit">오늘 통계</button>
        <button class="col-md-2 btn btn-danger" ng-click="all()" type="submit">전체 통계</button>
        <div class="grid">
            <p  class="grid-header">2020년 12월 31일 사용현황 | {{ model.todal_total_times | convertSummaryTimeToString}} </p>
            <div class="item-wrapper">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>fav</th> -->
                                <th>#</th>
                                <th>도메인</th>
                                <th>접속</th>
                                <th>사용량</th>
                                <th>시간</th>
                                <th width="15%">비율</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in model.rows">
                                <td>{{ $index+1}}</td>
                                <td>
                                    <!-- <img alt width="15" height="15" ng-src="{{ row.favicon }}" onerror="this.src=''"> &nbsp; -->
                                    {{ row.url }} <i class="mdi mdi-link-variant"></i></td>
                                <!-- <td>{{ row.url }}</td> -->
                                <td class="text-info">{{ row.part.counter | num_comma }} <em class="mdi mdi-arrow-up"></em></td>
                                <td class="text-danger">{{ row.part.dataUsage | dataSizeToUnit }} <em class="mdi mdi-arrow-down"></em></td>
                                <td>{{ row.part.summary | convertSummaryTimeToString }} </td>
                                <td>
                                    {{ row.part.summary | percentage:model.todal_total_times  }}%
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-primary" role="progressbar" 
                                            style="width: {{ row.part.summary | percentage:model.todal_total_times  }}%" 
                                            aria-valuenow="{{ row.part.summary | percentage:model.todal_total_times }}" 
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                      </div>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>fav</td>
                                <td>google.com</td>
                                <td>34,234</td>
                                <td>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-info progress-bar-striped" role="progressbar"
                                            style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td class="text-success"> 40MB(15.67%) <i class="mdi mdi-arrow-up"></i>
                                </td>
                                <td class="text-success"> 0시간 30분 02초(15.67%) <i class="mdi mdi-arrow-up"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>fav</td>
                                <td>google.com</td>
                                <td>34,234</td>
                                <td>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-info progress-bar-striped" role="progressbar"
                                            style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td class="text-success"> 1G(5.67%) <i class="mdi mdi-arrow-down"></i>
                                </td>
                                <td class="text-success"> 5시간 30분 02초(86.1%) <i class="mdi mdi-arrow-up"></i>
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>