<h2>통계</h2>
<hr>
<div class="row">

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">주간 통계</p>
            <div class="item-wrapper">
                <div>
                    <p style="padding-left: 30px;font-size: 16px;color:#969696">{{ model.charts.day.title }}</p>
                    <p style="padding-left: 30px;font-size: 20px;color:#3d3c3c;font-weight:bolder">{{ model.totals.times
                        | convertSummaryTimeToString }}</p>
                </div>
                <mw-chart style="width:100%;height:250px;top:-50;bottom:20px;left:30px;" ng-model="param">
                </mw-chart>
            </div>
        </div>
        <div class="grid">
            <!-- <p class="grid-header">{{ model.day_title }} - {{ model.total_times | convertSummaryTimeToString}}</p> -->
            <div class="item-wrapper">
                <mw-chart style="width:100%;height:200px;left:30px;" ng-model="param1">
                </mw-chart>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">{{ model.show_full_list }} {{ model.day_title }} 사용현황 | {{ model.totals.times |
                convertSummaryTimeToString}} </p>
            <div class="item-wrapper">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>fav</th> -->
                                <th>#</th>
                                <th>도메인</th>
                                <th>접속</th>
                                <th>사용량</th>
                                <th>사용 시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in model.rows">
                                <td>{{ $index+1}}</td>
                                <td>
                                    <a href ng-click="run.info(row)" data-toggle="modal" data-target="#domainModal">{{
                                        row.url }}</a> <em class="mdi mdi-arrow-right-bold-circle"></em>
                                    <div>
                                        <code>{{ row.category_sub | category_to_name }}</code>
                                    </div>
                                </td>
                                <td class="text-info">
                                    {{ row.part.counter | num_comma }} <em class="mdi mdi-arrow-up"></em>
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            style="width: {{ row.part.counter | percentage:model.totals.counter  }}%"
                                            aria-valuenow="{{ row.part.counter | percentage:model.totals.counter }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.part.dataUsage | dataSizeToUnit }}
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            style="width: {{ row.part.dataUsage | percentage:model.totals.dataUsage  }}%"
                                            aria-valuenow="{{ row.part.dataUsage | percentage:model.totals.dataUsage }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.part.summary | convertSummaryTimeToString }}
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                            style="width: {{ row.part.summary | percentage:model.totals.times  }}%"
                                            aria-valuenow="{{ row.part.summary | percentage:model.totals.times }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="domainModal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-title text-white">{{ model.title }}</h3>
                <button type="button" class="close text-white" ng-click="run.modalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-content-wrapper-inner">
                    <div class="content-viewport">
                        <div class="kanban-board-wrapper">
                            <div class="board-category">
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">최근 4주간 활동 정보</p>

                                        <mw-chart style="width:450px;height:200px;top:-40px"
                                            ng-model="model.modal.chart.options">
                                        </mw-chart>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">집계 정보</p>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>집계시작</th>
                                                        <th>접속횟수</th>
                                                        <th>사용시간</th>
                                                        <th>데이터</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>
                                                        {{ model.modal.start_day | formatDate:'`YY년MM월DD일' }}
                                                    </td>
                                                    <td>{{ model.modal.counter | num_comma }}회</td>
                                                    <td>{{ model.modal.summaryTime | convertSummaryTimeToString }}</td>
                                                    <td>{{ model.modal.dataUsage | dataSizeToUnit }}</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">사이트 정보</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>도메인</td>
                                                    <td>{{ model.modal.host }}</td>
                                                </tr>
                                                <tr>
                                                    <td>제목</td>
                                                    <td>{{ model.modal.title | cut:true:50:'...'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>국가</td>
                                                    <td>{{ model.modal.contry_code | country_to_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>설명</td>
                                                    <td>
                                                        <textarea
                                                            style="padding:0 0 0 0;border:none;overflow:hidden;border:none;background:transparent"
                                                            readonly rows="4"
                                                            cols="45">{{ model.modal.desc }}</textarea>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">분류</p>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>1차</th>
                                                    <th>2차</th>
                                                    <th>3차</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>생산성</td>
                                                <td>{{ model.modal.category_top | category_to_name }}</td>
                                                <td>{{ model.modal.category_sub | category_to_name }}</td>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">순위</p>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>글로벌</th>
                                                    <th>지역({{ model.modal.contry_code | country_to_name:'code' }})</th>
                                                    <th>분류({{ model.modal.category_top | category_to_name }})</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>{{ model.modal.rank_global | num_comma }}위</td>
                                                <td>{{ model.modal.rank_contry | num_comma }}위</td>
                                                <td>{{ model.modal.rank_category | num_comma }}위</td>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">글로벌 접속자수</p>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="150">기간</th>
                                                    <th>접속자수</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="(key,value) in model.modal.estimated_monthly_visits">
                                                <td>{{ key | formatDate:'`YY년MM월'}}</td>
                                                <td>{{ value | moneyFormat }}</td>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">설정</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>추적금지</td>
                                                    <td>yn</td>
                                                </tr>
                                                <tr>
                                                    <td>사용제한</td>
                                                    <td>time to</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="run.modify_category()" class="btn btn-danger  btn-sm">사용자 정의 분류
                    변경하기</button>
                <button type="submit" ng-click="run.modalClose()" class="btn btn-primary btn-sm">닫기</button>
            </div>
        </div>
    </div>
</div>