<h2>통계</h2>
<hr>
<div class="row">

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">주간 통계</p>
            <div class="item-wrapper">
                <div>
                    <p style="padding-left: 30px;font-size: 16px;color:#969696">{{ model.charts.day.title }}</p>
                    <p style="padding-left: 30px;font-size: 20px;color:#3d3c3c;font-weight:bolder">{{ model.totals.times
                        | convertSummaryTimeToString }}</p>
                </div>
                <mw-chart style="width:100%;height:250px;top:-50;bottom:20px;left:30px;" ng-model="param">
                </mw-chart>
            </div>
        </div>
        <div class="grid">
            <!-- <p class="grid-header">{{ model.day_title }} - {{ model.total_times | convertSummaryTimeToString}}</p> -->
            <div class="item-wrapper">
                <mw-chart style="width:100%;height:200px;left:30px;" ng-model="param1">
                </mw-chart>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">{{ model.show_full_list }} {{ model.day_title }} 사용현황 | {{ model.totals.times |
                convertSummaryTimeToString}} </p>
            <div class="item-wrapper">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>fav</th> -->
                                <th>#</th>
                                <th>도메인</th>
                                <th>접속</th>
                                <th>사용량</th>
                                <th>사용 시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in model.rows">
                                <td>{{ $index+1}}</td>
                                <td>
                                    <a href ng-click="run.info(row)" data-toggle="modal" data-target="#domainModal">{{
                                        row.url }}</a> <em class="mdi mdi-arrow-right-bold-circle"></em>
                                    <div>
                                        <code>{{ row.category_sub | category_to_name }}</code>
                                    </div>
                                </td>
                                <td class="text-info">
                                    {{ row.part.counter | num_comma }} <em class="mdi mdi-arrow-up"></em>
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            style="width: {{ row.part.counter | percentage:model.totals.counter  }}%"
                                            aria-valuenow="{{ row.part.counter | percentage:model.totals.counter }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.part.dataUsage | dataSizeToUnit }}
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            style="width: {{ row.part.dataUsage | percentage:model.totals.dataUsage  }}%"
                                            aria-valuenow="{{ row.part.dataUsage | percentage:model.totals.dataUsage }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ row.part.summary | convertSummaryTimeToString }}
                                    <div class="progress progress-slim mt-2">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                            style="width: {{ row.part.summary | percentage:model.totals.times  }}%"
                                            aria-valuenow="{{ row.part.summary | percentage:model.totals.times }}"
                                            aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="domainModal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-title text-white">{{ model.title }}</h3>
                <button type="button" class="close text-white" ng-click="run.modalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-content-wrapper-inner">
                    <div class="content-viewport">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 equel-grid">
                                <div class="grid">
                                    <div class="grid-body d-flex flex-column h-100">
                                        <div class="wrapper">
                                            <div class="d-flex justify-content-between">
                                                <div class="split-header">
                                                    <img class="img-ss mt-1 mb-1 mr-2" src="../assets/images/social-icons/instagram.svg"
                                                        alt="instagram">
                                                    <p class="card-title">Followers Growth</p>
                                                </div>
                                                <div class="wrapper">
                                                    <button class="btn action-btn btn-xs component-flat pr-0" type="button"><i
                                                            class="mdi mdi-access-point text-muted mdi-2x"></i></button>
                                                    <button class="btn action-btn btn-xs component-flat pr-0" type="button"><i
                                                            class="mdi mdi-cloud-download-outline text-muted mdi-2x"></i></button>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-end pt-2 mb-4">
                                                <h4>16.2K</h4>
                                                <p class="ml-2 text-muted">New Followers</p>
                                            </div>
                                        </div>
                                        <div class="mt-auto">
                                            <canvas class="curved-mode" id="followers-bar-chart" height="220"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kanban-board-wrapper">
                            <div class="board-category">
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">1시간 25분</p>
                                        <mw-chart style="width:450px;height:200px;" ng-model="param1">
                                        </mw-chart>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">정보</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>호스트</td>
                                                    <td>{{ model.modal.host }}</td>
                                                </tr>
                                                <tr>
                                                    <td>제목</td>
                                                    <td>{{ model.modal.title }}</td>
                                                </tr>
                                                <tr>
                                                    <td>국가</td>
                                                    <td>{{ model.modal.contry_code | country_to_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>설명</td>
                                                    <td>
                                                        <textarea
                                                            style="padding:0 0 0 0;border:none;overflow:hidden;border:none;background:transparent"
                                                            readonly rows="4" cols="50">{{ model.modal.desc }}</textarea>

                                                </tr>
                                                <tr>
                                                    <td>분류</td>
                                                    <td>
                                                        1차 {{ model.modal.category_top | category_to_name }}<br>
                                                        2차 {{ model.modal.category_sub | category_to_name }}<br>
                                                        사용자 생산성
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>랭킹</td>
                                                    <td>
                                                        글로벌 {{ model.modal.rank_global | num_comma }}위<br>
                                                        지역 ({{ model.modal.contry_code | country_to_name:'code' }}) {{ model.modal.rank_contry | num_comma }}위<br>
                                                        카테고리 {{ model.modal.rank_category | num_comma }}위
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>접속자수</td>
                                                    <td>
                                                        <div ng-repeat="(key,value) in model.modal.estimated_monthly_visits">
                                                            <p>{{ key }} : {{ value }}</p>
                                                        </div>
                                                        <!-- <div>
                                                            <p>글로벌 15위, 해당국가 35위</p>
                                                        </div>
                                                        <div>
                                                            <p>글로벌 15위, 해당국가 35위</p>
                                                        </div> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">설정</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>추적금지</td>
                                                    <td>yn</td>
                                                </tr>
                                                <tr>
                                                    <td>사용제한</td>
                                                    <td>time to</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="run.modify_category()"
                    class="btn btn-danger  btn-sm">사용자 정의 분류 변경하기</button>
                <button type="submit" ng-click="run.modalClose()" class="btn btn-primary btn-sm">닫기</button>
            </div>
        </div>
    </div>
</div>