<h2>동기화 설정</h2>
<hr>

<div class="col-lg-12">
    <div class="grid">
        <p class="grid-header">동기화 설정</p>
        <div class="grid-body">
            <div class="item-wrapper">
                <form>
                    <div class="form-row">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>동기화 방향</th>
                                        <th>실행횟수</th>
                                        <th>마지막 실행시간</th>
                                        <th>반복 시간</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in model.rows">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ row.desc }}</td>
                                        <td>{{ row.count }}</td>
                                        <td>{{ row.last }}</td>
                                        <td>{{ row.repeat_min }}</td>
                                        <td>{{ row.created | yyyymmdd_to_format_kr }}</td>
                                        <td>
                                            <button type="button" ng-click="run.sync(row)"
                                                class="btn btn-danger btn-xs">동기화</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <p>
                        <hr>
                    </p>
                    <div class="mx-auto form-group row showcase_row_area">

                        <div class="col-md-10 showcase_content_area">

                            <input class="form-control" ng-model="model.domain" maxlength="100" name="defaultconfig"
                                id="defaultconfig" type="text" placeholder="도메인을 입력해주세요. (예. naver.com)">
                        </div>

                        <button class="btn btn-primary btn-sm" ng-click="run.add_domain()" type="submit">도메인 등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">설정</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label>동기화 옵션</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    <select class="custom-select">
                                        <option selected value="1">로컬 저장소 (용량 제한 없음)</option>
                                        <option value="2">Chrome 브라우저 계정 동기화 (최대 5MB</option>
                                        <option value="3">크로스 브라우져 계정 동기화 (용량 제한 없음)</option>
                                    </select>
                                    <code>tab조건에 따라 메세지 변경됨</code>
                                </div>
                            </div>

                            <div class="row showcase_row_area">
                                <div class="col-md-3 showcase_text_area">
                                    <label>계정 표시정보</label>
                                </div>
                                <div class="col-md-9 showcase_content_area">
                                    <select class="custom-select">
                                        <option value="1">오늘:데이터 수신량</option>
                                        <option value="2">오늘:사이트 사용시간</option>
                                        <option value="3">전체:데이터 수신량</option>
                                        <option value="3">전체:사이트 사용시간</option>
                                        <option selected value="3">표시하지 않음</option>
                                    </select>
                                    <code>* 확장 기능의 아이콘 아래 표시되는 텍스트 정보를 설정합니다.</code>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">동기화 기록</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <form>
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10">상태</th>
                                            <th width="50">날짜</th>
                                            <th>메세지</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>완료</td>
                                            <td>방금</td>
                                            <td>동기화 옵션 로컬 -> 클라우드 변경</td>
                                        </tr>
                                        <tr>
                                            <td>완료</td>
                                            <td>3일전</td>
                                            <td>동기화 시작, 동기화 완료</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>