<h2>동기화 설정</h2>
<hr>

<div class="col-lg-12">
    <div class="grid">
        <p class="grid-header">동기화 설정</p>
        <div class="grid-body">
            <div class="item-wrapper">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>동기화 방향</th>
                                <th>실행횟수</th>
                                <th>마지막 실행시간</th>
                                <th>반복 시간</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in model.rows">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ row.desc }}</td>
                                <td>{{ row.count }}</td>
                                <td>{{ row.last }}</td>
                                <td>{{ row.repeat_min }}</td>
                                <td>{{ row.created | yyyymmdd_to_format_kr }}</td>
                                <td>
                                    <button ng-if="row.sync_enabled" type="button" ng-click="run.sync(row)"
                                        class="btn btn-danger btn-xs">동기화</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header">동기화 기록</p>
            <div class="grid-body">
                <div class="item-wrapper">
                    <form>
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10">상태</th>
                                            <th width="50">날짜</th>
                                            <th>메세지</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>완료</td>
                                            <td>방금</td>
                                            <td>동기화 옵션 로컬 -> 클라우드 변경</td>
                                        </tr>
                                        <tr>
                                            <td>완료</td>
                                            <td>3일전</td>
                                            <td>동기화 시작, 동기화 완료</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>