<div  ng-controller="modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="domainModal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-title text-white">{{ model.title }}</h3>
                <button type="button" class="close text-white" ng-click="run.modalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-content-wrapper-inner">
                    <div class="content-viewport">
                        <div class="kanban-board-wrapper">
                            <div class="board-category">
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">최근 4주간 활동 정보</p>

                                        <mw-chart style="width:450px;height:200px;top:-40px"
                                            ng-model="model.modal.chart.options">
                                        </mw-chart>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">집계 정보</p>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>집계시작</th>
                                                        <th>접속횟수</th>
                                                        <th>사용시간</th>
                                                        <th>데이터</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>
                                                        {{ model.modal.start_day | formatDate:'`YY년MM월DD일' }}
                                                    </td>
                                                    <td>{{ model.modal.counter | num_comma }}회</td>
                                                    <td>{{ model.modal.summaryTime | convertSummaryTimeToString }}</td>
                                                    <td>{{ model.modal.dataUsage | dataSizeToUnit }}</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">사이트 정보</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>도메인</td>
                                                    <td>{{ model.modal.host }}</td>
                                                </tr>
                                                <tr>
                                                    <td>제목</td>
                                                    <td>{{ model.modal.title | cut:true:50:'...'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>국가</td>
                                                    <td>{{ model.modal.contry_code | country_to_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>설명</td>
                                                    <td>
                                                        <textarea
                                                            style="padding:0 0 0 0;border:none;overflow:hidden;border:none;background:transparent"
                                                            readonly rows="{{ model.modal.rows }}"
                                                            cols="45">{{ model.modal.desc }}</textarea>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">분류</p>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>1차</th>
                                                    <th>2차</th>
                                                    <th>3차</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>생산성</td>
                                                <td>{{ model.modal.category_top | category_to_name }}</td>
                                                <td>{{ model.modal.category_sub | category_to_name }}</td>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">순위</p>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>글로벌</th>
                                                    <th>지역({{ model.modal.contry_code | country_to_name:'code' }})</th>
                                                    <th>분류({{ model.modal.category_top | category_to_name }})</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>{{ model.modal.rank_global | num_comma }}위</td>
                                                <td>{{ model.modal.rank_contry | num_comma }}위</td>
                                                <td>{{ model.modal.rank_category | num_comma }}위</td>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">글로벌 접속자수</p>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="150">기간</th>
                                                    <th>접속자수</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="(key,value) in model.modal.estimated_monthly_visits">
                                                <td>{{ key | formatDate:'`YY년MM월'}}</td>
                                                <td>{{ value | moneyFormat }}</td>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <ul class="board-task">
                                    <li class="task-item">
                                        <p class="task-title">설정</p>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td width="150">추적금지 도메인 등록</td>
                                                    <td>
                                                        <!-- <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" id="switch{{ $index }}"
                                                             ng-change="run.enabledChange(row)">
                                                            <label class="custom-control-label" for="switch{{ $index }}"></label>
                                                        </div> -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>카테고리 변경<br>[미분류]..
                                                    <td>
                                                        <select class="custom-select"
                                                        ng-change="run.selected(row,model.select[row.index])" ng-model='model.select[row.index]'
                                                            ng-options="item.code as item.ko for item in model.options.category"></select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="run.modify_category()" class="btn btn-danger  btn-sm">추적 금지및 통계 삭제</button>
                <button type="submit" ng-click="run.modalClose()" class="btn btn-primary btn-sm">닫기</button>
            </div>
        </div>
    </div>
</div>